dataset
backup
result
figure
fig
data
temp
external/eeglab*
.vscode
codegen
project

*.RData
*.asv
*.fig
*.bmp
*.jpg


*.mat
*.h5
*.set
*.plg
*.cdc
*.cmm
*.inf
*.pat
*.mrk
*.h5


*.rar
*.gz
*.tgz
*.bz2
*.eps
*.zip
*.7z

~$*.docx
*.csv
Demo/outputData/testdata_combat_parametric_adjusted_matlab.csv
_gsdata_
*.m~
.Rhistory
.RDataTmp
.RData
*.pptx
*.png
*.html
*.R~
*.pyc
*.log
*.mldatx
__pycache__


*.json
*.prj
